PORT=3000
NODE_ENV=production
SESSION_SECRET=kidsrun_cms_super_secret_key_change_in_production
COOKIE_SECURE=false # Habilitar a true en producción detrás de HTTPS / SSL
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SITE_URL=http://localhost:3000

# Configuración de Base de Datos PostgreSQL
DATABASE_URL=postgres://kidsrun:kidsrun_secret@postgres:5432/kidsrundb
POSTGRES_USER=kidsrun
POSTGRES_PASSWORD=kidsrun_secret
POSTGRES_DB=kidsrundb
POSTGRES_PORT=5432
